.kt-aside__brand {background: #f1f1f1;}
#kt_wrapper { padding-top:80px; }

@media (min-width: 1024px){
    .margin-top-60 { margin-top:60px !important; }
}

@media (max-width: 1024px){
    .kt-header__topbar { margin-top: -22px; }
    .kt-subheader--enabled.kt-subheader--solid .kt-subheader { margin-top: 30px; }
}
.spinnerbox {padding:50px;}
.display-non, .hide {display:none;}
.show {
    display:block;
}
.table-responsive { overflow: visible;}

@media (min-width: 641px) and (max-width: 767px){
    .table-responsive {
        overflow-y: visible;
        overflow-x: auto;
    }
}
@media (max-width:640px){
    .table-responsive {
        overflow-y: visible;
        overflow-x: auto;
    }
}

.spinnerbox, .hide {
    display:none;
}
#provider_search_result {
    max-height: 300px;
    overflow-y: auto;
}

.ui-button-icon-only .ui-button-text { 
    position: relative;
    z-index: -1;
}

/*****Client ChatBox**********/
.bene_message_detail {
    cursor: pointer;
    padding: 4px 4px;
}
.bene_message_detail:hover, .bene_message_active {
    background: #f1f1f1;
}

/********DataTable Codes Start*********/
.screenloader {
    background: #347fc3;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 0.4;
    left: 0;
    top: 0;
    display: none;
}
.screenloader .bar {
    position: relative;
    height: 2px;
    width: 500px;
    margin: 0 auto;
    background: #fff;
    margin-top: 150px;
}
.screenloader .circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #fff;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
}
.screenloader p {
    position: absolute;
    top: -24px;
    right: 160px;
    text-transform: uppercase;
    color: #347fc3;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    opacity: 1;
    z-index: 100000;
}

@-webkit-keyframes move {
    0% {left: 0;}
    50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    100 {right: 100%;}
}

.pagination .page-link, .statuschange {
    cursor: pointer;
}
.pagination .dots {
    padding: 6px 5px 0px;
}
.pagination .active {
    background-color: #2c77f4;
    color: #fff;
}
#table_result_size {
    padding: 5px 10px;
}
.table .sort_column {
    cursor:pointer;
}
.table .sort_column:before {
    right: 1em;
    content: "\2191";
    float: right;
    display: block;
    opacity: 0.3;
}
.table .sort_column:after {
    right: 1em;
    content: "\2193";
    float: right;
    display: block;
    opacity: 0.3;
}
.table .sort_asc:before {
    opacity: 1;
    color: #5867dd;
}
.table .sort_desc:after {
    opacity: 1;
    color: #5867dd;
}
/********DataTable Codes End*********/

/* Add Note CSS */
.chat .chat-history {
    padding: 10px 0px 10px;
    border-bottom: 2px solid white;
}
.chat .chat-history ul.chat-ul {
    padding-left: 0px;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 23px;
    font-size: 16px;
    border-radius: 10px 0px 10px 10px;
    margin-bottom: 30px;
    width: 50%;
    position: relative;
}

.chat .chat-history .you-message {
    background: #F5F5F5;
    color:#A0A0A0;
}
.chat .chat-history .me-message {
    background: #DFF3FF;
    color: #A0A0A0;
}

.chat .chat-message {
    padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.you {
    color: #F5F5F5;
}

.me {
    color: #DFF3FF;
}

