#kt_wrapper .modal > .modal-dialog .modal-header {
    background-color: #fff;
    position: relative;
    display: block;
    border: none;
}

#kt_wrapper .modal > .modal-dialog .modal-header > h5 {
    display: block;
    text-align: center;
    color: #79807b;
    text-transform: uppercase;
    font-size:28px;
    position: relative;
    top: 18px;
    margin: 0px 0px 7px 0px;
    font-weight: 500;
}

#kt_wrapper .modal > .modal-dialog .modal-header > h5::after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background-color:#08a8c4;
    margin: 10px auto;
}

#kt_wrapper .modal > .modal-dialog .modal-header > button {
    position: absolute;
    right: 15px;
    top: 30px;
}

#kt_wrapper .modal > .modal-dialog .modal-body {
    max-width: 92%;
    margin: 5px auto 0px;
    width: 100%;
    padding: 20px 10px;
}

#kt_wrapper #kt_modal_view_detail {
    padding: 0px;
    margin-bottom: 0px;
}

#kt_wrapper .modal > .modal-dialog .modal-body .row label {
    margin-bottom: 3px;
    color:#79807b;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

#kt_modal_view_task_sheet .modal-body .form-group > label,
#kt_modal_view .modal-body .form-group > label{
    display: block;
}

#kt_wrapper .modal > .modal-dialog .modal-body .row label > b {
    font-weight: 600;
}

#kt_modal_view_task_sheet .modal-body .form-group > span,
#kt_modal_view .modal-body .form-group > span {
    display: block;
    color: #888;
    font-size: 15px;
}

#kt_modal_view_task_sheet .modal-body .form-group > .order_heading > h3 {
    color: #8b080d;
    font-size: 20px;
}

#kt_modal_view_task_sheet .modal-body .form-group > .order_heading > h3::after {
    content: ':';
}

#kt_wrapper .modal > .modal-dialog .modal-footer {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#kt_wrapper .modal > .modal-dialog .btn-primary {
    background-color:#08a8c4;
    color:#fff;
    border: 1px solid #08a8c4;
    margin-left: 10px;
    
}

#kt_wrapper .modal > .modal-dialog > .btn-secondary {
    color:#fff;
    background-color: #08a8c4;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #08a8c4;
}
#kt_wrapper .modal > .modal-dialog > .btn-secondary:hover {
    background-color:transparent;
    border:1px solid #08a8c4;
    color: #08a8c4;
}

.btn-secondary{
    background-color:#fff;
    color:#08a8c4;
    border: 1px solid #08a8c4;
}

.btn-secondary:hover{
    background-color:#08a8c4;
    color:#fff;
    border: 1px solid #08a8c4;
}
#kt_wrapper .modal > .modal-dialog .modal-header > button:hover::before {
    color: #08a8c4;
}

#kt_wrapper .modal > .modal-dialog .btn-primary:hover{
    background-color:#fff;
    color:#08a8c4;
    border: 1px solid #08a8c4;
}

.kt-switch.kt-switch--outline.kt-switch--success input:checked ~ span::after {
    background-color: #8b080d;
}

#kt_wrapper .modal > .modal-dialog #addNoteSaveBtn {
    margin-top: 20px !important;
}

#kt_wrapper .modal > .modal-dialog .modal-body > .row .modal-header,
#kt_wrapper .modal > .modal-dialog .modal-body .message_heading {
    background-color: #DDF7F4;
    padding: 10px 20px 10px 20px;
    width: 100%;
    float: left;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.yellowbgheading{
    background-color: #fbff00 !important;
}
.greenbgheading{
    background-color:#DDF7F4 !important;
}
#kt_wrapper .modal > .modal-dialog .modal-body > .row .modal-header h5 {
    text-align: left;
    position: static;
}

#kt_wrapper .modal > .modal-dialog .modal-body > .row .modal-header h5::after {
    display: none;
}

#kt_modal_view > .modal-dialog .modal-body .order_heading > h3 {
    font-size: 1.3rem;
    color: #8b080d;
}

#kt_modal_view > .modal-dialog .modal-body .order_heading > h3 > a {
    background-color: #8b080d;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
    top: -4px;
    border-radius: 5px;
}

#kt_modal_view > .modal-dialog .modal-body .order_heading > h3 > a:hover {
    background-color: #690307;
}

#kt_modal_view > .modal-dialog .chat .chat-history {
    padding-left: 0;
    padding-right: 0;
}

#kt_modal_view > .modal-dialog .chat .chat-history > .chat-ul {
    padding: 0;
}

#kt_wrapper #kt_modal_process > .modal-dialog .modal-body {
    border: none;
    max-width: 100%;
    padding: 5px 30px 0;
    text-align: center;
}

#kt_wrapper #kt_modal_process > .modal-dialog .modal-body p {
    margin-bottom: 5px;
}

#kt_wrapper #kt_modal_process .btn-primary,
#kt_wrapper #kt_modal_invoice_amount_change .btn-primary {
    margin-top: 10px;
}

#kt_wrapper #kt_modal_process .close,
#kt_wrapper #kt_modal_invoice_amount_change .close {
    top: 0;
    right: 0;
}

#kt_wrapper #kt_modal_fill_invoice_cor_data .modal-body {
    border: none;
    margin-top: 0;
    padding: 0;
    max-width: 100%;
}

#kt_wrapper #kt_modal_fill_invoice_cor_data .kt-portlet__body > .nav {
    border: none;
}

#kt_wrapper #kt_modal_fill_invoice_cor_data .kt-portlet__body > .nav a {
    color: #808080;
    border-left: none;
    display: inline-block;
    border-right: none;
    padding: 0px;
    font-weight: 500;
    border-top: none;
    border-color: #808080;
}

#kt_wrapper #kt_modal_fill_invoice_cor_data .kt-portlet__body > .nav a.active {
    color: #8b080d;
    border-color: #8b080d;
}

#kt_wrapper #kt_modal_edit_view > .modal-dialog .modal-body {
    border: none;
    padding: 0;
}

#kt_wrapper .btn-outline-brand {
    color: #8b080d;
    border-color: #8b080d;
}

#kt_wrapper .btn-outline-brand:hover {
    color: #fff;
    background-color: #8b080d;
}

#kt_wrapper #kt_modal_fill_invoice_cor_data .invoice_entery_form_total > lable {
    color: #8b080d;
}

#kt_modal_assign .kt-portlet__head-title {
    color: #8b080d;
    font-size: 16px;
}

.kt-header__topbar .btn-primary{
    background-color: #08a8c4;
    border: 1px solid #08a8c4;
    color: #fff;
    margin-left: 12px;
}

.kt-header__topbar .btn-primary:hover{
    background-color: transparent;
    border:1px solid #08a8c4;
    color: #08a8c4;
}

#kt_wrapper #kt_modal_fill_invoice_data h2,
#kt_wrapper #kt_modal_status .kt-portlet__head-title{
    color: #8b080d;
    font-size: 20px;
    margin-bottom: 20px;
}

#kt_wrapper .modal > .modal-dialog .btn-info,
#kt_wrapper .modal > .modal-dialog .btn-success {
    background-color:#08a8c4;
    border-color: #08a8c4;
    color: #fff;
    cursor: pointer;
}

#kt_wrapper .modal > .modal-dialog .btn-info:hover,
#kt_wrapper .modal > .modal-dialog .btn-success:hover{
    background-color:#08a8c4;
    border-color:#08a8c4;
    color: #fff;
}

#kt_wrapper .modal > .modal-dialog .btn-success,
#kt_wrapper .modal > .modal-dialog .btn-info:hover {
    color: #fff;
}
.btn.btn-default {
    border: 0;
    background: #08a8c4;
    color:#fff;
    border: 1px solid #08a8c4;
}
.btn.btn-default:hover{
    background-color: transparent;
    color:#08a8c4;
    border:1px solid #08a8c4;
}
.btn.btn-disabled {
    background-color: #fff;
    border-color: #ccc;
    color: #000;
}
#kt_wrapper #kt_modal_invoice_amount_change .kt-section__title {
    color: #8b080d;
    display: block;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
}

#kt_modal_view > .modal-dialog .chat .chat-history .message,
#kt_modal_view_task_sheet > .modal-dialog .chat .chat-history .message {
    padding-top: 7px;
    padding-bottom: 5px;
    color: #5d5d5d;
    width: 100%;
    max-width: 200px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#kt_modal_view > .modal-dialog .chat .chat-history .me-message,
#kt_modal_view_task_sheet > .modal-dialog .chat .chat-history .me-message {
    background-color: #f7eaeb;
}

#kt_modal_view > .modal-dialog .chat .chat-history .you-message,
#kt_modal_view_task_sheet > .modal-dialog .chat .chat-history .you-message {
    background-color: #f5f5f5;
}

#kt_modal_view > .modal-dialog .chat .chat-history .message::after,
#kt_modal_view_task_sheet > .modal-dialog .chat .chat-history .message::after {
    display: none;
}

#kt_wrapper #kt_modal_view .modal-body img {
    width: 15px;
}

.chat .message-data.align-left .message-data-name:nth-child(2),
.chat .message-data.align-right .message-data-name:nth-child(1) {
    color: #8b080d !important;
}

#kt_wrapper #kt_modal_process > .modal-dialog,
#kt_wrapper #kt_modal_assign > .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon,
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__link-text, .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover > .kt-menu__link .kt-menu__link-text, .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text, .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
    color: #8b080d;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon {
    color: #8b080d;
}

.show > .btn.btn-clean i, .btn.btn-clean.active i, .btn.btn-clean:active i, .btn.btn-clean:hover i {
    color: #8b080d;
}

.btn-brand {
    background-color:#08a8c4;
    color:#FFF;
    border: 1px solid #08a8c4;
}

.btn-brand:hover {
    background-color:transparent;
    border:1px solid #08a8c4;
    color: #08a8c4;
}
.pagination .active {
    background-color: #8b080d;
}
.kt-subheader .kt-subheader__btn-secondary:hover, .kt-subheader .kt-subheader__btn-secondary.active, .kt-subheader .kt-subheader__btn-secondary:active, .kt-subheader .kt-subheader__btn-secondary:focus {
    color: #8b080d;
}
.kt-subheader .kt-subheader__btn-primary:hover, .kt-subheader .kt-subheader__btn-primary.active, .kt-subheader .kt-subheader__btn-primary:active, .kt-subheader .kt-subheader__btn-primary:focus {
    background: #8b080d none repeat scroll 0 0;
}
#usersdatatableId .kt-badge.kt-badge--success {
    background: #8b080d none repeat scroll 0 0;
}
.btn-primary {
    background-color: #8b080d;
    border: medium none #8b080d;
}
.btn-primary:hover {
    background-color: #8b080d;
    border-color: #8b080d;
}
.vpb_chat_main_box_wrapper .headers {
    background: #8b080d none repeat scroll 0 0;
}
.kt-portlet__head-icon .kt-font-brand {
    color: #8b080d !important;
}
.dropdown-menu-right.show .dropdown-item.active, .dropdown-menu-right.show .dropdown-item:active {
    background-color: #8b080d;
    color: #ffffff !important;
}
#provider-form .btn.btn-danger {
    background-color: #8b080d;
}
#provider-form .modal-body .col-12 {
    padding-left: 0;
}
#edit_input_task_sheet .modal-body .col-12, #edit_cor_form .modal-body .col-12, #edit_cor_form #service_date_range {
    padding-left: 0;
}
#kt_modal_trash .modal-dialog .modal-header .close {
    right: 6px !important;
    top: 0 !important;
}
#kt_modal_edit_view .modal-content .kt-form .col-sm-3.col-xs-12 {
    padding-left: 0;
}
.dropdown.show .dropdown-menu.dropdown-menu-right.show {
    z-index: 9999;
}

.kt-header__topbar span.kt-header__topbar-icon.kt-pulse .btn-success {
    background-color: #08a8c4;
    border:1px solid #08a8c4;
    left: -15px;
    padding-bottom: 5.5px;
    padding-top: 5.5px;
    position: relative;
    color: #fff;
}
.kt-header__topbar span.kt-header__topbar-icon.kt-pulse .btn-success:hover{
    border:1px solid #08a8c4;
    background-color: transparent;
    color:#08a8c4 ;
}

.kt-portlet__body #kt_modal_create_order .form-group label {
    color: #8b080d;
    font-weight: 500;
}

.kt-portlet__body #kt_modal_create_order button#medical_provider {
    background-color: #8b080d;
    border-color: #8b080d;
    margin-top: 15px;
}

#kt_modal_create_order .kt-portlet__body #kt_modal_create_order button#medical_provider:hover {
    background-color: #690307;
    border-color: #690307;
}

#kt_modal_create_order .ui-state-default{
    background: #fafafa !important;
}

#kt_modal_create_order .ui-widget-content .plupload_header_title, .ui-widget-content .plupload_header_text {
    color: #8b080d;
}

#kt_modal_create_order table.plupload_filelist.plupload_filelist_header.ui-widget-header {
    background: #8b080d;
    color: #fff;
}

#kt_modal_create_order .plupload_logo {
    background: url(http://docrequest.702devs.com/images/download_icon.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center 5px;
}

#kt_modal_create_order .ui-state-default.plupload_add {
    color: #8b080d;
    border-color: #8b080d;
}

#kt_modal_create_order .ui-state-default.plupload_add:hover {
    color: #690307;
    border-color: #690307;
}
.kt-user-card.kt-user-card--skin-dark.kt-notification-item-padding-x {
    background-color: #08a8c4;
    background-image: none !important;
}
.kt-header__topbar .kt-notification .btn.btn-label.btn-label-brand.btn-sm.btn-bold {
    color: #8b080d;
}
.kt-header__topbar .kt-notification .btn.btn-label.btn-label-brand.btn-sm.btn-bold:hover {
    background-color: #8b080d;
    color: #fff;
}
.btn.btn-label-brand.btn-bold {
    color: #8b080d;
}
.btn.btn-label-brand.btn-bold:hover {
    background-color: #8b080d;
    color: #fff;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active {
    border-bottom: 1px solid #8b080d;
    color: #8b080d;
}
.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link:hover g [fill], .nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link.active g [fill], .nav-tabs.nav-tabs-line a.nav-link:hover g [fill], .nav-tabs.nav-tabs-line a.nav-link.active g [fill] {
    fill: #8b080d;
}
.kt-avatar .kt-avatar__upload i {
    color: #8b080d;
}
.kt-avatar .kt-avatar__upload:hover {
    background-color: hsl(358, 89%, 29%);
}
.kt-notification__item-title.kt-font-bold:hover, .kt-notification__item-title.kt-font-bold:focus {
    color: hsl(358, 89%, 29%) !important;
}
#kt_modal_edit_view .kt-form.kt-form--label-right .col-lg-12.text-left {
    padding-left: 0;
}
#edit_input_task_sheet #service_date_range {
    left: 11px;
    position: relative;
}
.custnum {
    position: relative;
    top: 36px;
}
.col-12.custrush {
    position: relative;
    top: 20px;
}
@media screen and (max-width: 767px){

    #kt_wrapper .modal > .modal-dialog .modal-body, #kt_wrapper .modal > .modal-dialog .modal-footer,
    #kt_wrapper #kt_modal_fill_invoice_cor_data .kt-portlet__body > .nav {
        max-width: calc(100% - 30px);
        padding: 20px;
    }

}
#kt_wrapper .modal > .modal-dialog .modal-body .kt-radio{
    float: left;
    width: 27% !important;
    margin-right: 15px;
    color: #000;
}
#kt_wrapper .modal > .modal-dialog .modal-body .kt-radio.extendwidth {
    width: 40% !important;
}
.kt-radio.kt-radio--yellow > span {
    border: 1px solid #ffb822;
}
.kt-radio.kt-radio--yellow.kt-radio--bold > input:checked ~ span {
    border: 1px solid #ffb822;
}
.kt-radio.kt-radio--yellow > span:after {
    border: solid #ffb822;
    background: #ffb822;
}

/****** Hiring View/Edit Page *******/
.bootstrap-switch, .bootstrap-switch{
    border-radius: 0px;
    border-color: #08a8c4 !important;
}
.bootstrap-switch .bootstrap-switch-handle-on {
    border-radius: 0px;
    padding-top: 9px;
    background-color: #08a8c4 !important;
    border-color: #08a8c4 !important;
    color: #ffffff !important;
}
.bootstrap-switch .bootstrap-switch-handle-off {
    border-radius: 0px;
    background-color: #08a8c4 !important;
    border-color: #08a8c4 !important;
    color: #ffffff !important;
}
#kt_wrapper .modal > .modal-dialog .modal-body .value {
    width: 100%;
    cursor: pointer;
    padding: 5px 5px 5px 0px;
    font-size: 16px;
}
.editableInput input {
    float: left;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.editableInput button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
}
button.radioBtnSave {
    margin-left: -4px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px;
}

/******Add Messages*****/
.full-width { width: 100%;}


/*******Add Modal********/
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step a[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 33%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.panel-heading h3{
    color: #79807b;
   text-decoration: underline;
}
.kt-radio.kt-radio--danger > span {
    border: 1px solid #5f6769;
}
.kt-radio.kt-radio--danger.kt-radio--bold > input:checked ~ span{
    border: 1px solid #5f6769;
}
.kt-radio.kt-radio--danger > span:after {
    border: solid #08a8c4;
    background:#08a8c4;
}
.nav-pills .nav-item .nav-link, .nav-tabs .nav-item .nav-link {
    font-size: 18px;
}
.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link:active, .nav-tabs .nav-item .nav-link:hover {
    color: #2c77f4;
    font-size: 18px;
    border-color: #ccc;
    background: #DDF7F4;
}
.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > .kt-grid__item{
    background-color:  #1e1e2d;
}
.kt-aside__brand .kt-aside__brand-logo h3{
    color: #08a8c4;
    font-size: 45px;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 0;

}
.kt-aside__brand .kt-aside__brand-logo p{
    color: #fff;
    margin: 0;
    line-height: 0;
}